.btn-group
  = link_to image_tag("libraries/icons/folder_plus.png"), "#", id: "add_node", title: "criar pasta"
  = link_to image_tag("libraries/icons/folder_minus.png"), "#", id: "remove_node", title: "apagar"
  = link_to image_tag("libraries/icons/folder_rename.png"), "#", id: "rename_node", title: "renomear"