.btn-group
  = link_to image_tag("libraries/icons/folder_plus.png"), "#", id: "add_folder", class: "vcom_button", title: "criar pasta"
  = link_to image_tag("libraries/icons/folder_minus.png"), "#", id: "remove_node", class: "vcom_button", title: "apagar"
  = link_to image_tag("libraries/icons/folder_rename.png"), "#", id: "rename_node", class: "vcom_button", title: "renomear"