.alert.alert-error
  = link_to '×', '#', class: "close", :"data-dismiss" => "alert"
  Nenhum
  %strong VCom
  encontrado com os parâmetros desejados...
  .pull-right
    = link_to library_path, style: "text-decoration: none" do
      %i.icon-home
      Home