#library_container
  #folder_directories
    #menu_directory
      .btn-group
        = link_to image_tag("libraries/icons/folder_plus.png"), "#", id: "add_node", rel: "tooltip", title: "Criar Pasta"
        = link_to image_tag("libraries/icons/folder_minus.png"), "#", id: "remove_node", rel: "tooltip", title: "Apagar"
        = link_to image_tag("libraries/icons/folder_rename.png"), "#", id: "rename_node", rel: "tooltip", title: "Renomear"

    #display_folders
        
  #library_content

  #footer