#library_container
  #folder_directories
    #menu_directory
      .btn-group
        = link_to image_tag("libraries/icons/folder_plus.png"), library_path, method: :get
        = link_to image_tag("libraries/icons/folder_minus.png"), library_path, method: :get
        = link_to image_tag("libraries/icons/folder_rename.png"), library_path, method: :get

    #display_folders
        
  #library_content
  #footer