.span12
  %h2
    vcoms
    %strong +
    library
  %h1 VComLib
  %p.lead
    Uma maneira fácil para a reutilização, organização e compartilhamento de
    %br VComs previamente criados.
  = button_to "Entrar", libraries_path, method: :get, :class => 'btn'