.span12
  %h2
    vcoms
    %strong +
    library
  %h1 VComLib
  %p.lead
    Uma maneira fácil para a reutilização, organização e
    %br compartilhamento de VComs.
  = button_to "Entrar", library_path, method: :get, :class => 'btn'