// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page {
	background: url("home/grid.png") repeat-x;
	padding-top: 60px;
	.span12 {
		margin-top: 28px;
		text-align: center;
		h2 {
			text-align: center;
			font-size: 78px;
			line-height: 96px;
			strong {
				color: #99010F;
			}
		}
		h1 {
			font-size: 98px;
			font-weight: bold;
			padding: 42px;
		}
		p {
			font-size: 32px;
			line-height: 46px;
		}
		.btn {
			margin-top: 20px;
			width: 200px;
			height: 50px;
			font-size: 22px;
			font-weight: bold;
		}
	}

	footer {
		margin-top: 60px;
		padding-bottom: 36px;
		border-top: 1px solid #E5E5E5;
	}
}

.authentication_container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  .authentication {
    width: 200px;
    margin:0 auto;
    text-align:left;
  }
}