/ %td.action
/   = link_to t('action.edit'), edit_resource_path(item)

%td.action
  = link_to "Destroy", resource_path(item),
              confirm: "Deseja Destruir o VCom?",
              method: :delete